@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: "Gabarito", sans-serif;
    width: 100%;
    height: 100%;
}
.cont{
   background-color: #E6E6FA;
}
.cont__title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont h1{
  padding: 20px;
  border-bottom: 6px solid rgb(148, 126, 126);
  border-bottom-color:  #92a8d1;
  width: 280px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.cont-images{
    margin-top: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    
}
.cont-images img{
    border: 2px solid black;
    border-radius: 10px;
}
.cont-images img:hover{
 cursor: pointer;
 box-shadow: 7px 7px 5px  lightpink;
 border: 3px solid rgb(160, 121, 127);


}